/* Modal Styling */
.modal {
  display: block; /* Display the modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1;
}

.modal-content {
  background-color: #000000;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  color: #fff;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

h2 {
  margin-top: 0;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.form-container {
  text-align: left;
}

/* Add Task Button Styling */
.btn-add-task {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-add-task:hover {
  opacity: 0.9;
}

.btn-submit {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-submit:hover {
  opacity: 0.9;
}
